
<section class="titles">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <h3>Nutrition </h3>
        <img src="/img/nutrient.jpg" alt="">
      </div>

      <div class="item">
        <h3>Macros</h3>
        <img src="/img/macros.jpg" alt="">
        <h2>Proteins, Carbohydrates, Fats and Sugars</h2>
      </div>

      <div class="item">
        <h3>Workout Routines</h3>
        <img src="/img/workout.jpg" alt="">

      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- <div class="container title-box">
    <div class="row">
      <div class="col-lg-4">
        <h3>Nutrition</h3>
        <img src="/img/nutrient.jpg" alt="">
        <p>Ultimate diet tailored towards needs and most relevant research.</p>
      </div>
      <div class="col-lg-4">
        <h3>Macros</h3>
        <img src="/img/macros.jpg" alt="">
        <p>Macros is short for macro-nutrients. We will give you the best mix of macronutrients depending on your
          goals that you want to achieve.
        </p>
      </div>
      <div class="col-lg-4 ">
        <h3>Workout Routines</h3>
        <img src="/img/workout.jpg" alt="">
        <p>Every body has a different routine and has different ways of working out, whether is body weight or weighted exercise.
          We will provide routines that have been tested for years.
        </p>
      </div>
    </div>
  </div> -->
</section>


<section class="about-me">
  <h3>Parks Around Miami Urban Area</h3>
</section>

<section class="carousel">
  <h3> Enter and Compare Your stats </h3>
</section>
