
<section class="login-form">
  <div class=" container">

    <div class="form">
      <form action="/" method="get">
        <label for="email-input"class="top">Email</label>
        <br>
        <input id="email-input"placeholder="apple@example.com" type="text" name="" value="">
        <br>
        <label for="password-input">Password</label>
        <br>
        <input id="password-input"placeholder="password" type="password" name="" value="">
        <br>
        <div class="button-form">
          <button class="btn btn-inverse"> Submit</button>
        </div>
        <div class="button-form facebook">
          <button class="btn btn-inverse"> Login with Facebook <i class="fa fa-facebook"></i>  </button>
        </div>
        <div class="button-form google">
          <button class="btn btn-inverse"> Login with Google+  <i class="fa fa-google"></i> </button>
        </div>


      </form>
    </div>

  </div>
</section>
